{% extends 'base.html' %}
{% load static %}

{% block body %}


    {% include 'components/header.html' with background_image='images/birmingham-museums-trust-pWVJHDiAonU-unsplash.jpg' title='Marvens Villial' description='Born in Haiti   <br><a href="#" ata-scroll-to class="btn"> See Artist</a>' %}



    <section class="content-section" data-background="#fffbf7">
      <div class="container">
        <div class="row  mb-4">
          <div class="col-lg-7 col-md-6">
              <div class="section-title text-left">
                  <h2 style="font-size:xx-large;" >Our Artists are <br> the heart of our art.</h2>
              </div>
              <!-- end section-title -->
          </div>
          <!-- end col-6 -->
          <div class="col-lg-4 col-md-6 ms-1">
              <form class="d-flex justify-content-end align-items-start" action="#" method="GET">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q">
                  <input type="submit" value="Search">
              </form>
          </div>
          <!-- end col-6 -->
      </div>
        <!-- end row -->
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6">
            <div class="collection-box" data-scroll data-scroll-speed="1.5" >
              <figure><img src="{% static 'images/birmingham-museums-trust-pWVJHDiAonU-unsplash.jpg' %}" 
                style="   
                width: 100%;
                height: 300px;
                object-fit: cover;"
                alt="Image"></figure>
              <h4><a href="collection-detail.html">Hammersmith: Kelmscott Press.</a></h4>
              <p>The Works of Geoffrey Chaucer Now
                Newly Imprinted, by William Morris & Sir
                Edward Burne-Jones, 1896, Hammersmith:
                Kelmscott Press.</p>
            </div>
            <!-- end collection-box -->
          </div>
          <!-- end col-4 -->
          <div class="col-lg-4 col-md-6">
            <div class="collection-box" data-scroll data-scroll-speed="1" >
              <figure><img src="images/collection02.jpg" alt="Image"></figure>
              <h4><a href="collection-detail.html">Inner coffin of Hornedjitef</a></h4>
              <p>
The mummy of the priest Hornedjitef was encased in a gilded mask and cover, and two human-shaped wooden coffins. </p>
            </div>
            <!-- end collection-box -->
          </div>
          <!-- end col-4 -->
          <div class="col-lg-4 col-md-6">
            <div class="collection-box" data-scroll data-scroll-speed="0.5" >
              <figure><img src="images/collection03.jpg" alt="Image"></figure>
              <h4><a href="collection-detail.html">Brass head of an Ooni</a></h4>
              <p>
This crowned head was discovered by accident in 1939 during digging close to the royal palace in Ife. </p>
            </div>
            <!-- end collection-box -->
          </div>
          <!-- end col-4 -->
          <div class="col-lg-4 col-md-6">
            <div class="collection-box" data-scroll data-scroll-speed="1.5" >
              <figure><img src="images/collection04.jpg" alt="Image"></figure>
              <h4><a href="collection-detail.html">The goddess Tara</a></h4>
              <p>Between 1100 and 1400 Ife was one of the great city-states in West Africa</p>
            </div>
            <!-- end collection-box -->
          </div>
          <!-- end col-4 -->
          <div class="col-lg-4 col-md-6">
            <div class="collection-box" data-scroll data-scroll-speed="1" >
              <figure><img src="images/collection05.jpg" alt="Image"></figure>
              <h4><a href="collection-detail.html">Raphael cartoon</a></h4>
              <p>Lofe and flourished as a commercial centre within regional and long-distance trade networks. </p>
            </div>
            <!-- end collection-box -->
          </div>
          <!-- end col-4 -->
          <div class="col-lg-4 col-md-6">
            <div class="collection-box" data-scroll data-scroll-speed="0.5" >
              <figure><img src="images/collection06.jpg" alt="Image"></figure>
              <h4><a href="collection-detail.html">The Anglo-Saxon </a></h4>
              <p>
              The most impressive example of a medieval ship burial in Europe. But who was buried here? And what do their treasures reveal?

          </p>
            </div>
            <!-- end collection-box -->
          </div>
          <!-- end col-4 -->
          <div class="col-lg-4 col-md-6">
            <div class="collection-box" data-scroll data-scroll-speed="1.5" >
              <figure><img src="images/collection07.jpg" alt="Image"></figure>
              <h4><a href="collection-detail.html">In Ancient Mesopotamia</a></h4>
              <p>The Works of Geoffrey Chaucer Now
                Newly Imprinted, by William Morris & Sir
                Edward Burne-Jones, 1896, Hammersmith:
                Kelmscott Press.</p>
            </div>
            <!-- end collection-box -->
          </div>
          <!-- end col-4 -->
          <div class="col-lg-4 col-md-6">
            <div class="collection-box" data-scroll data-scroll-speed="1" >
              <figure><img src="images/collection08.jpg" alt="Image"></figure>
              <h4><a href="collection-detail.html">Canopic jars</a></h4>
              <p>The Works of Geoffrey Chaucer Now
                Newly Imprinted, by William Morris & Sir
                Edward Burne-Jones, 1896, Hammersmith:
                Kelmscott Press.</p>
            </div>
            <!-- end collection-box -->
          </div>
          <!-- end col-4 -->
          <div class="col-lg-4 col-md-6">
            <div class="collection-box" data-scroll data-scroll-speed="0.5" >
              <figure><img src="images/collection09.jpg" alt="Image"></figure>
              <h4><a href="collection-detail.html">Red-figured loutrophoros</a></h4>
              <p>The Works of Geoffrey Chaucer Now
                Newly Imprinted, by William Morris & Sir
                Edward Burne-Jones, 1896, Hammersmith:
                Kelmscott Press.</p>
            </div>
            <!-- end collection-box -->
          </div>
          <!-- end col-4 -->
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </section>
    <!-- end content-section -->
    <section class="content-section">
      <div class="video-bg">
        <video src="videos/video.mp4" loop autoplay playsinline muted></video>
      </div>
      <!-- end video-bg -->
      <div class="container">
        <div class="cta-box" data-scroll data-scroll-speed="-1">
          <h6>JOIN TODAY AS AN ARTIST</h6>
          <h2>
            Do you want to sell your art?</h2>
          <a href="#" class="custom-button">Contact us today</a> </div>
        <!-- end cta-box -->
      </div>
      <!-- end container -->
    </section>
    <!-- end content-section -->
    <!-- end content-section -->
   

{% endblock %}