

{% extends 'base.html' %}
{% load static %}

{% block body %}

{% block modal %}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Inquiry for shipping Fee </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <h4>Billing Details</h4>
            <form>
                <div class="mb-3">
                    <label for="firstName" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="firstName" placeholder="John">
                </div>
                <div class="mb-3">
                    <label for="lastName" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="lastName" placeholder="Doe">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="email@example.com">
                </div>
                <div class="mb-3">
                    <label for="address" class="form-label">Address</label>
                    <input type="text" class="form-control" id="address" placeholder="1234 Main St">
                </div>
                <div class="mb-3">
                    <label for="address2" class="form-label">Address 2</label>
                    <input type="text" class="form-control" id="address2" placeholder="Apartment, studio, or floor">
                </div>
                <div class="mb-3">
                    <label for="country" class="form-label">Country</label>
                    <select class="form-select" id="country">
                        <option value="" selected>Choose...</option>
                        <option value="US">United States</option>
                        <option value="CA">Canada</option>
                        <option value="GB">United Kingdom</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="state" class="form-label">State</label>
                    <select class="form-select" id="state">
                        <option value="" selected>Choose...</option>
                        <option value="CA">California</option>
                        <option value="TX">Texas</option>
                        <option value="NY">New York</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="zip" class="form-label">Zip</label>
                    <input type="text" class="form-control" id="zip" placeholder="12345">
                </div>
                <div class="mb-3">
                  <label for="msj" class="form-label">Message</label>
                  <textarea type="text" class="form-control" id="msj" placeholder="Leave a message for us here"></textarea>
              </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" id="save-info">
                    <label class="form-check-label" for="save-info">
                        Save this information for next time
                    </label>
                </div>
            </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="custom-button">Save changes</button>
          </div>
      </div>
  </div>
</div>

{% endblock %}
{% include 'components/header.html' with background_image='images/birmingham-museums-trust-pWVJHDiAonU-unsplash.jpg' title='Marvens Villial\'s Work' description='Born in Haiti   ' %}


        <br /><br />

     
    
  
      
        
        <div class="container mt-5">

          <div class="row justify-content-center">
            <div class="col-lg-9">
              <div class="section-title">
                <figure>
                  <img src="{% static 'images/title-shape.png' %}" alt="Image" />
                </figure>
                <h2>Cart</h2>
              </div>
              <!-- end section-title -->
            </div>
            <!-- end col-9 -->
            <div class="col-lg-3">
              <a href="#" class="circle-button"
                >Continue <br />
                Shopping</a
              >
            </div>
            <!-- end col-3 -->
          </div>

          
         
         
          <div class="table-responsive">
              <table class="table table-bordered">
                  <thead class="thead-light">
                      <tr>
                          <th scope="col">Produit</th>
                          <th scope="col">Image</th>
                          <th scope="col">Prix</th>
                          <th scope="col">Quantité</th>
                          <th scope="col">Total</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>Produit 1</td>
                          <td><img src="https://via.placeholder.com/50" class="product-img" alt="Produit 1"></td>
                          <td>$20.00</td>
                          <td>
                              <div class="input-group">
                                  <button class="btn btn-outline-secondary btn-decrement" type="button">-</button>
                                  <div class="form-control text-center">1</div>
                                  <button class="btn btn-outline-secondary btn-increment" type="button">+</button>
                              </div>
                          </td>
                          <td class="total-price">$20.00</td>
                      </tr>
                      <tr>
                          <td>Produit 2</td>
                          <td><img src="https://via.placeholder.com/50" class="product-img" alt="Produit 2"></td>
                          <td>$15.00</td>
                          <td>
                              <div class="input-group">
                                  <button class="btn btn-outline-secondary btn-decrement" type="button">-</button>
                                  <div class="form-control text-center">1</div>
                                  <button class="btn btn-outline-secondary btn-increment" type="button">+</button>
                              </div>
                          </td>
                          <td class="total-price">$15.00</td>
                      </tr>
                  </tbody>
              </table>
          </div>
  
          <div class="card mt-4">
              <div class="card-body">
                  <h5 class="card-title text-center">Total du Panier</h5>
                  <ul class="list-group list-group-flush">
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                          Sous-total:
                          <span id="subtotal">$35.00</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                          Livraison:
                          <span>Gratuite</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                          Total:
                          <span id="total">$35.00</span>
                      </li>
                  </ul>
                  <div class="text-center mt-4">
                      <!-- <a href="#" class="custom-button">Procéder au paiement</a> -->

                      <!-- Button trigger modal -->
                      <button type="button" class="custom-button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Inquiry for Shipping and others
                    </button>
                      
                      
             
                  </div>
              </div>
          </div>
      </div>
        <br><br><br>
<!-- <script type="text/javascript" >

$('#btn').on('click', function () {
  $('#exampleModal').modal('show')
})

</script> -->

        
        <!-- end content-section -->
{% endblock %}
