{% extends 'base.html' %}
{% load static %}
	
  {% block body %}
  <!-- end page-header -->
  {% include 'components/header.html' with background_image='images/birmingham-museums-trust-pWVJHDiAonU-unsplash.jpg' title='Marvens Villial\'s Work' description='Born in Haiti '  %}


    <section class="content-section no-bottom-spacing bottom-white" data-background="#94ffc4">
      <div class="container">{% include "components/messages.html" with messages=messages %} 
        <div class="row align-items-center">
          <div class="col-12">
            <div class="section-title text-center">
              <figure><img src="{% static 'images/title-shape.png' %}" alt="Image"></figure>
              <h2>Painting Haitian </h2>
            </div>
            <!-- end section-title -->
          </div>
          <!-- end col-12 -->
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
		<div class="horizontal-scroll">
        <div class="scroll-inner" data-scroll data-scroll-direction="horizontal" data-scroll-speed="5">
          <div class="scroll-wrapper">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-4">
                  <figure class="image-box" data-scroll data-scroll-speed="0"> <img src="{% static 'images/about-image01.jpg' %}" alt="Image"> </figure>
                </div>
                <!-- end col-3 -->
                <div class="col-md-4">
                  <figure class="image-box" data-scroll data-scroll-speed="0"> <img src="{% static 'images/about-image02.jpg' %}" alt="Image"> </figure>
                </div>
                <!-- end col-3 -->
                <div class="col-md-4">
                  <figure class="image-box" data-scroll data-scroll-speed="0"> <img src="{% static 'images/about-image03.jpg' %}" alt="Image"> </figure>
                </div>
                <!-- end col-3 -->
              </div>
              <!-- end row -->
            </div>
            <!-- end container-fluid -->
          </div>
          <!-- end scroll-wrapper -->
          <div class="scroll-wrapper">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-4">
                  <figure class="image-box" data-scroll data-scroll-speed="0"> <img src="{% static 'images/about-image01.jpg' %}" alt="Image"> </figure>
                </div>
                <!-- end col-3 -->
                <div class="col-md-4">
                  <figure class="image-box" data-scroll data-scroll-speed="0"> <img src="{% static 'images/about-image02.jpg' %}" alt="Image"> </figure>
                </div>
                <!-- end col-3 -->
                <div class="col-md-4">
                  <figure class="image-box" data-scroll data-scroll-speed="0"> <img src="{% static 'images/about-image03.jpg' %}" alt="Image"> </figure>
                </div>
                <!-- end col-3 -->
              </div>
              <!-- end row -->
            </div>
            <!-- container-fluid -->
          </div>
          <!-- end scroll-wrapper -->
        </div>
        <!-- end scroll-inner -->
      </div>
      <!-- end horizontal-scroll -->
    </section>
    <!-- end content-section -->
    <section class="content-section no-bottom-spacing">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="section-title">
              <h6>Everyone count to bring idea to life</h6>
              <h2>Our team</h2>
            </div>
            <!-- end section-title -->
          </div>
          <!-- end col-12 -->
			<div class="col-12">
				<div class="image-box-carousel">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
						<figure><img src="{% static 'images/carousel-image01.jpg' %}" alt="Image"></figure>
							<div class="content-box">
								<h5>2023: Paper Work</h5>
								<a href="#" class="custom-link">Read More</a>
							</div>
							<!-- end content-box -->
						</div>
						<!-- end swiper-slide -->
						<div class="swiper-slide">
						<figure><img src="{% static 'images/carousel-image02.jpg' %}" alt="Image"></figure>
							<div class="content-box">
								<h5>2018: Metal</h5>
								<a href="#" class="custom-link">Read More</a>
							</div>
							<!-- end content-box -->
						</div>
						<!-- end swiper-slide -->
						<div class="swiper-slide">
						<figure><img src="{% static 'images/carousel-image03.jpg' %}" alt="Image"></figure>
							<div class="content-box">
								<h5>2015: Organic Matters</h5>
								<a href="#" class="custom-link">Read More</a>
							</div>
							<!-- end content-box -->
						</div>
						<!-- end swiper-slide -->
						<div class="swiper-slide">
						<figure><img src="{% static 'images/carousel-image04.jpg' %}" alt="Image"></figure>
							<div class="content-box">
								<h5>2013: Methal Matters</h5>
								<a href="#" class="custom-link">Read More</a>
							</div>
							<!-- end content-box -->
						</div>
						<!-- end swiper-slide -->
						<div class="swiper-slide">
						<figure><img src="{% static 'images/carousel-image05.jpg' %}" alt="Image"></figure>
							<div class="content-box">
								<h5>2011: Organic Materials</h5>
								<a href="#" class="custom-link">Read More</a>
							</div>
							<!-- end content-box -->
						</div>
						<!-- end swiper-slide -->
					</div>
					<!-- end swiper-wrapper -->
				</div>
				<!-- end image-box-carousel -->
			</div>
			<!-- end col-12 -->
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </section>
    <!-- end content-section -->
		<section class="content-section">
      <div class="container">
        <div class="row g-0">
			<div class="col-lg-6">
				<div class="side-image left-half" data-scroll data-scroll-speed="2">
				<img src="{% static 'images/side-imag05.jpg' %}" alt="Image">
				</div>
				<!-- end side-image -->
				<div class="side-icon-list left-side">
              <ul>
                <li>
                  <figure> <img src="{% static 'images/icon01.png' %}" alt="Image"> </figure>
                  <div class="content">
                    <h5>Opening times</h5>
                    <p>From 27 August<br>
                      Thursday – Sunday: 11.00-19.00</p>
                  </div>
                  <!-- end content -->
                </li>
                <li>
                  <figure> <img src="{% static 'images/icon02.png' %}" alt="Image"> </figure>
                  <div class="content">
                    <h5>Book Online</h5>
                    <p>Some exhibitions and events carry <br>
                      a separate charge</p>
                    <a href="#">Join Now and Book Online</a> </div>
                  <!-- end content -->
                </li>
                <li>
                  <figure> <img src="{% static 'images/icon03.png' %}" alt="Image"> </figure>
                  <div class="content">
                    <h5>Where You Visit</h5>
                    <p>Cromwell New Street Road<br>
                      London, SW7 2RL</p>
                  </div>
                  <!-- end content -->
                </li>
              </ul>
            </div>
            <!-- end side-icon-list -->
			</div>
			<!-- end col-6 -->
			<div class="col-lg-6">
				<div class="side-arts">
				<div class="titles">
					<h6>Visit the Wandau Museum</h6>
					<h2>Antique Piece</h2>
					</div>
					<!-- end titles -->
					<ul>
						<li data-scroll data-scroll-speed="0.5"><img src="{% static 'images/art-thumb01.jpg' %}" alt="Image"></li>
						<li data-scroll data-scroll-speed="1"><img src="{% static 'images/art-thumb02.jpg' %}" alt="Image"></li>
						<li data-scroll data-scroll-speed="0.5"><img src="{% static 'images/art-thumb04.jpg' %}" alt="Image"></li>
						<li data-scroll data-scroll-speed="1"><img src="{% static 'images/art-thumb05.jpg' %}" alt="Image"></li>
						<li data-scroll data-scroll-speed="0.5"><img src="{% static 'images/art-thumb03.jpg' %}" alt="Image"></li>
					</ul>
				</div>
				<!-- end side-arts -->
			</div>
			<!-- end col-6 -->
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </section>
    <!-- end content-section -->
    <section class="content-section" data-background="#fffbf7">
      <div class="container">
        <div class="row">
		  <div class="col-lg-3 col-md-6">
				<div class="counter-box">
					<span class="odometer" data-count="15" data-status="yes" data-scroll data-scroll-speed="0">0</span>
			  <span class="value">K</span>
					<p>MORE THAN 15,000 <br>
MEMBERS</p>
			  </div>
			  <!-- end counter-box -->
			</div>
			<!-- end col-3 -->
		  <div class="col-lg-3 col-md-6">
				<div class="counter-box">
			  <span class="odometer" data-count="3" data-status="yes">0</span><span class="value">M</span>
					<p>3 MILLION VISITORS</p>
			  </div>
			  <!-- end counter-box -->
			</div>
			<!-- end col-3 -->
		  <div class="col-lg-3 col-md-6">
				<div class="counter-box">
			  <span class="odometer" data-count="5500" data-status="yes">0</span><span class="value">+</span>
					<p>MORE THAN 5.500<br>
COLLECTION </p>
			  </div>
			  <!-- end counter-box -->
			</div>
			<!-- end col-3 -->
		  <div class="col-lg-3 col-md-6">
				<div class="counter-box">
			 <span class="odometer" data-count="800" data-status="yes">0</span><span class="value">K</span>
					<p>DAILY TICKET<br>SALES</p>
			  </div>
			  <!-- end counter-box -->
			</div>
			<!-- end col-3 -->
		  </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </section>
    <!-- end content-section -->
    <section class="content-section no-bottom-spacing">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title text-center">
              <figure><img src="{% static 'images/title-shape.png' %}" alt="Image"></figure>
              <h6>Visit the National Wandau Museum</h6>
              <h2>Featured Artists</h2>
            </div>
            <!-- end section-title -->
          </div>
          <!-- end col-12 -->
		  </div>
		  <!-- end row -->
		  <div class="row justify-content-center">
        {% include 'components/artist_card.html' with scroll_speed='0.5' image_src='images/europeana-5TK1F5VfdIk-unsplash.jpg' number='01' title="Check What's Open" description="Your safety is our first priority. Entry to the National Maritime Museum is still free, but to help us ensure social distancing." link_url="#" %}

        {% include 'components/artist_card.html' with scroll_speed='1' image_src='images/rhondak-native-florida-folk-artist-_Yc7OtfFn-0-unsplash.jpg' number='02' title="Booking Online" description="Exhibition curator Venetia Porter presents this new exhibition of works by artists from Iran to Morocco drawn from the Museum collection." link_url="#" %}
      
        {% include 'components/artist_card.html' with scroll_speed='0.5' image_src='images/birmingham-museums-trust-GJHAB0gxvtg-unsplash.jpg' number='03' title="Keep Your Distance" description="Take a look at our past exhibitions and enjoy the articles, videos and photo galleries still available to view online." link_url="#" %}
     
			<!-- end col-4 -->
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </section>

    <section class="content-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="section-title text-center">
              <figure><img src="images/title-shape.png" alt="Image"></figure>
              <h2>Frequently<br>
                asked questions</h2>
            </div>
            <!-- end section-title -->
          </div>
          <!-- end col-12 -->
          <div class="col-lg-8">
            <dl class="accordion">
              <dt><a href="#">What are your opening hours?</a></dt>
              <dd>We have a small gift shop where you can buy a range of Bank of England related items. We don't have a cafe but there are places to buy drinks or sandwiches nearby. Eating and drinking are not allowed in the museum. </dd>
              <dt><a href="#">How long does it take to look around?</a></dt>
              <dd>We have a small gift shop where you can buy a range of Bank of England related items. We don't have a cafe but there are places to buy drinks or sandwiches nearby. Eating and drinking are not allowed in the museum. </dd>
              <dt><a href="#">Are there printed or audio guides?</a></dt>
              <dd>We have a small gift shop where you can buy a range of Bank of England related items. We don't have a cafe but there are places to buy drinks or sandwiches nearby. Eating and drinking are not allowed in the museum. </dd>
              <dt><a href="#">Do you give talks?</a></dt>
              <dd>We have a small gift shop where you can buy a range of Bank of England related items. We don't have a cafe but there are places to buy drinks or sandwiches nearby. Eating and drinking are not allowed in the museum. </dd>
              <dt><a href="#">Is there a shop or cafe?</a></dt>
              <dd>We have a small gift shop where you can buy a range of Bank of England related items. We don't have a cafe but there are places to buy drinks or sandwiches nearby. Eating and drinking are not allowed in the museum. </dd>
              <dt><a href="#">Do you have anywhere to store luggage?</a></dt>
              <dd>We have a small gift shop where you can buy a range of Bank of England related items. We don't have a cafe but there are places to buy drinks or sandwiches nearby. Eating and drinking are not allowed in the museum. </dd>
              <dt><a href="#">How accessible is the museum?</a></dt>
              <dd>We have a small gift shop where you can buy a range of Bank of England related items. We don't have a cafe but there are places to buy drinks or sandwiches nearby. Eating and drinking are not allowed in the museum. </dd>
              <dt><a href="#">Is the museum suitable for families?</a></dt>
              <dd>We have a small gift shop where you can buy a range of Bank of England related items. We don't have a cafe but there are places to buy drinks or sandwiches nearby. Eating and drinking are not allowed in the museum. </dd>
            </dl>
            <!-- end accordion -->
          </div>
          <!-- end col-8 -->
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </section>
  
    {% endblock %}
