{% extends 'base.html' %}
{% load static %}

{% block body %}
<!-- end page-header -->
{% include 'components/header.html' with background_image=setting.hero_about_us_image.url title='About us' description=setting.hero_about_us_description %}


<section class="content-section no-bottom-spacing bottom-white" data-background="#94ffc4">
  <div class="container">{% include "components/messages.html" with messages=messages %}
    <div class="row align-items-center">
      <div class="col-12">
        <div class="section-title text-center">
          <figure><img src="{% static 'images/title-shape.png' %}" alt="Image" loading="lazy"></figure>
          <h2>Painting Haitian </h2>
        </div>
        <!-- end section-title -->
      </div>
      <!-- end col-12 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
  <div class="horizontal-scroll">
    <div class="scroll-inner" data-scroll data-scroll-direction="horizontal" data-scroll-speed="5">
      <div class="scroll-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4">
              <figure class="image-box" data-scroll data-scroll-speed="0"> <img
                  src="{{ setting.about_image_1.url }}" loading="lazy" alt="Image"> </figure>
            </div>
            <!-- end col-3 -->
            <div class="col-md-4">
              <figure class="image-box" data-scroll data-scroll-speed="0"> <img
                  src="{{ setting.about_image_2.url }}" loading="lazy" alt="Image"> </figure>
            </div>
            <!-- end col-3 -->
            <div class="col-md-4">
              <figure class="image-box" data-scroll data-scroll-speed="0"> <img
                  src="{{ setting.about_image_3.url }}" loading="lazy" alt="Image"> </figure>
            </div>
            <!-- end col-3 -->
          </div>
          <!-- end row -->
        </div>
        <!-- end container-fluid -->
      </div>
      <!-- end scroll-wrapper -->
      <div class="scroll-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4">
              <figure class="image-box" data-scroll data-scroll-speed="0"> <img
                  src="{{ setting.about_image_1.url }}" loading="lazy" alt="Image"> </figure>
            </div>
            <!-- end col-3 -->
            <div class="col-md-4">
              <figure class="image-box" data-scroll data-scroll-speed="0"> <img
                  src="{{ setting.about_image_2.url }}" loading="lazy" alt="Image"> </figure>
            </div>
            <!-- end col-3 -->
            <div class="col-md-4">
              <figure class="image-box" data-scroll data-scroll-speed="0"> <img
                  src="{{ setting.about_image_3.url }}" loading="lazy" alt="Image"> </figure>
            </div>
            <!-- end col-3 -->
          </div>
          <!-- end row -->
        </div>
        <!-- container-fluid -->
      </div>
      <!-- end scroll-wrapper -->
    </div>
    <!-- end scroll-inner -->
  </div>
  <!-- end horizontal-scroll -->
</section>
<!-- end content-section -->
<section class="content-section no-bottom-spacing">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="section-title">
          <h6>Everyone count to bring idea to life</h6>
          <h2>Our team</h2>
        </div>
        <!-- end section-title -->
      </div>
      <!-- end col-12 -->
      <div class="col-12">
        <div class="image-box-carousel">
          <div class="swiper-wrapper">

            {% for x in setting.team.all %}
            <div class="swiper-slide">
              <figure><img src="{{x.profile.url }}" alt="Profile image of the artist {{x.name}}" style="height: 600px;object-fit: cover;"  loading="lazy"></figure>
              <div class="content-box">
                <h5>{{x.name}}</h5>
                <a href="{% url 'artist' x.id %}" class="custom-link">Read More</a>
              </div>
              <!-- end content-box -->
            </div>
            {% endfor %}
            <!-- end swiper-slide -->
          </div>
          <!-- end swiper-wrapper -->
        </div>
        <!-- end image-box-carousel -->
      </div>
      <!-- end col-12 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- end content-section -->
<section class="content-section">
  <div class="container">
    <div class="row g-0">
      <div class="col-lg-6">
        <div class="side-image left-half" data-scroll data-scroll-speed="2">
          <img src="{{ setting.about_image_1.url }}" alt="Image">
        </div>
        <!-- end side-image -->
        <div class="side-icon-list left-side">
          <ul>
            <li>
              <figure> <img src="{% static 'images/icon01.png' %}" alt="Image"> </figure>
              <div class="content">
                <h5>Opening times</h5>
                <p>From 27 August<br>
                  {{setting.open_hours}}</p>
              </div>
              <!-- end content -->
            </li>
            <li>
              <figure> <img src="{% static 'images/icon02.png' %}" alt="Image"> </figure>
              <div class="content">
                <h5>Book Online</h5>
                <p>Everery Location must be approve first, please <a href="{% url 'contact' %}">contact us</a> to register your address <br>
                  </p>
                <!-- <a href="#">Join Now and Book Online</a> -->
              </div>
              <!-- end content -->
            </li>
            <li>
              <figure> <img src="{% static 'images/icon03.png' %}" alt="Image"> </figure>
              <div class="content">
                <h5>Where You Visit</h5>
                <p>We are base in USA</p>
              </div>
              <!-- end content -->
            </li>
          </ul>
        </div>
        <!-- end side-icon-list -->
      </div>
      <!-- end col-6 -->
      <div class="col-lg-6">
        <div class="side-arts">
          <div class="titles">
            <h6>Our best Pieces</h6>
            <h2>Best Painting</h2>
          </div>
          <!-- end titles -->
          <ul>
            <li data-scroll data-scroll-speed="0.5"><img loading="lazy" src="{{ setting.about_image_3.url }}" alt="painting "></li>
            <li data-scroll data-scroll-speed="1"><img loading="lazy" src="{{ setting.about_image_1.url }}" alt="painting "></li>
            <li data-scroll data-scroll-speed="0.5"><img loading="lazy" src="{{ setting.about_image_2.url }}" alt="painting "></li>
            <li data-scroll data-scroll-speed="1"><img loading="lazy" src="{{ setting.about_image_1.url }}" alt="painting "></li>
            <li data-scroll data-scroll-speed="0.5"><img loading="lazy" src="{{ setting.about_image_2.url }}" alt="painting "></li>
          </ul>
        </div>
        <!-- end side-arts -->
      </div>
      <!-- end col-6 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>

{% include 'components/core_value.html' with setting=setting %}

<!-- end content-section -->
<section class="content-section" data-background="#fffbf7">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="counter-box">
          <span class="odometer" data-count="15" data-status="yes" data-scroll data-scroll-speed="0">0</span>
          <span class="value">K</span>
          <p>MORE THAN 15,000 <br>
            MEMBERS</p>
        </div>
        <!-- end counter-box -->
      </div>
      <!-- end col-3 -->
      <div class="col-lg-3 col-md-6">
        <div class="counter-box">
          <span class="odometer" data-count="3" data-status="yes">0</span><span class="value">M</span>
          <p>3 MILLION VISITORS</p>
        </div>
        <!-- end counter-box -->
      </div>
      <!-- end col-3 -->
      <div class="col-lg-3 col-md-6">
        <div class="counter-box">
          <span class="odometer" data-count="5500" data-status="yes">0</span><span class="value">+</span>
          <p>MORE THAN 5.500<br>
            COLLECTION </p>
        </div>
        <!-- end counter-box -->
      </div>
      <!-- end col-3 -->
      <div class="col-lg-3 col-md-6">
        <div class="counter-box">
          <span class="odometer" data-count="800" data-status="yes">0</span><span class="value">K</span>
          <p>DAILY TICKET<br>SALES</p>
        </div>
        <!-- end counter-box -->
      </div>
      <!-- end col-3 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- end content-section -->
<section class="content-section no-bottom-spacing">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title text-center">
          <figure><img src="{% static 'images/title-shape.png' %}" alt="Image" ></figure>
          <h6>Haitian Art Display </h6>
          <h2>Featured Artists</h2>
        </div>
        <!-- end section-title -->
      </div>
      <!-- end col-12 -->
    </div>
    <!-- end row -->
    <div class="row justify-content-center">
      {% include 'components/artist_card.html' with scroll_speed='-1'  x=setting.home_artist_1 number='01' %}
      {% include 'components/artist_card.html' with scroll_speed='-1'  x=setting.home_artist_2 number='02' %}
      {% include 'components/artist_card.html' with scroll_speed='-1'  x=setting.home_artist_3 number='03' %}
    
      <!-- end col-4 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>

{% include 'components/faq.html' with faq=faq %}

{% endblock %}