{% extends 'base.html' %}
{% load static %}

{% block modal %}

{% include 'components/request_modal.html' %}


{% endblock %}

{% block body %}


    {% include 'components/header.html' with background_image=setting.home_artist_1.profile.url  title=setting.home_artist_1.name description=setting.home_artist_1.bio %}



    <section class="content-section" data-background="#fffbf7">
      <div class="container">{% include "components/messages.html" with messages=messages %} 
        <div class="row  mb-4">
          <div class="col-lg-7 col-md-6">
              <div class="section-title text-left">
                  <h2 style="font-size:xx-large;" >Our Artists are <br> the heart of our art.</h2>
              </div>
              <!-- end section-title -->
          </div>
          <!-- end col-6 -->
          <div class="col-lg-4 col-md-6 ms-1">
              <form class="d-flex justify-content-end align-items-start" action="{% url 'artist_list' %}" method="GET">
                  <input class="form-control me-2" type="search" placeholder="Search artists" aria-label="Search" name="q">
                  <input type="submit" value="Search">
              </form>
          </div>
          <!-- end col-6 -->
      </div>
        <!-- end row -->
        <div class="row justify-content-center">
          {% if query %}

        <h2>Result for: <strong>{{query}}</strong></h2>

        {% endif %}

        {% for x in artists %}
          {% include 'components/artist_card.html' with scroll_speed='1' x=x number=forloop.counter %}

{% empty %}
<h2>No Artist yet</h2>

{% endfor %}
{% include 'components/pagination.html' with page_obj=page_obj %}
          
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </section>
    <!-- end content-section -->
    {% include 'components/request.html' %}
    <!-- end content-section -->
    <!-- end content-section -->
   

{% endblock %}