{% extends 'base.html' %}
{% load static %}

{% block body %}

{% include 'components/header.html' with background_image='images/birmingham-museums-trust-pWVJHDiAonU-unsplash.jpg' title='Marvens Villial\'s Work' description='Born in Haiti   ' %}


<section class="content-section" data-background="#fffbf7">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="side-content left">
          <h2>{{obj.name}}</h2>
          <p>{{obj.bio}}</p>
        </div>
        <!-- end side-content -->

        </div>
      <!-- end col-6 -->
      <div class="col-lg-6">
        <figure class="side-image" data-scroll data-scroll-speed="1"> <img src="{{ obj.profile.url }}"  style="width: 100%;
          height: 7000 px;
          object-fit: cover;" alt="Image"> </figure>
      </div>
      <!-- end col-6 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
    <!-- end content-section -->
	     <section class="content-section">
      <div class="container">
        
        <div class="row justify-content-center">

          {% for painting in page_obj.object_list %}
          {% include 'components/product_card.html' with title=painting.title description=painting.description image=painting.image.url slug=painting.slug id=painting.id %}

{% empty %}

<h2>No painting yet!!!</h2>

{% endfor %}

<div class="pagination">
  <span class="step-links">
      {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
  </span>
</div>
			<!-- end col-4 -->
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </section>
    <!-- end content-section -->
	  <section class="content-section" data-background="{% static 'images/birmingham-museums-trust-pWVJHDiAonU-unsplash.jpg' %}">
      <div class="container">
        <div class="row">
		  <div class="col-lg-6">
			<div class="note-box">
			 <h2> Discover Collections</h2>
<p>Become a member today to gain unlimited free entry
to all of our blockbuster exhibitions at National
Museums Wandau including AI: More than Human and
Linda McCartney Retrospective. <strong>Join today</strong>!</p>
			  </div>
			  <!-- end note-box -->
			</div>
			<!-- end col-6 -->
		  </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </section>
    <!-- end content-section -->

    <!-- end content-section -->
  
    {% endblock %}
