{% extends 'base.html' %} {% load static %} {% block style %} .modal-body form >
.mb-3, .modal-body form > .form-check { margin-bottom: 1rem; } {% endblock %} {%
block modal %} {% include 'components/inquiry' with form=form %} {% endblock %}
{% block body %} {% include 'components/header.html' with
background_image='images/birmingham-museums-trust-pWVJHDiAonU-unsplash.jpg'
title='Marvens Villial\'s Work' description='Born in Haiti ' %}

<br /><br />

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-9">
      <div class="section-title">
        <figure>
          <img src="{% static 'images/title-shape.png' %}" alt="Image" />
        </figure>
        <h2>{% if old %} Order {{order.uuid}} {% else %} Cart{% endif %}</h2>
      </div>
      <!-- end section-title -->
    </div>
    <!-- end col-9 -->
    <div class="col-lg-3">
      <a href="#" class="circle-button"
        >Continue <br />
        Shopping</a
      >
    </div>
    <!-- end col-3 -->
  </div>

  <div class="table-responsive">
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">Produit</th>
          <th scope="col">Image</th>
          <th scope="col">Prix</th>
          <th scope="col">Quantité</th>
          <th scope="col">Total</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for item in order.orderitem_set.all %}
        <tr>
          <td>{{ item.painting.title }}</td>
          <td>
            <img
              src="{{ item.painting.image.url }}"
              class="product-img"
              alt="{{ item.painting.title }}"
            />
          </td>
          <td>${{ item.painting.price }}</td>
          <td>
            <div class="input-group">
                {% if not old %}
              <a href="{% url 'remove_single_from_cart' painting_id %}">
                <button
                  class="btn btn-outline-secondary btn-decrement"
                  type="button"
                >
                  -
                </button>

                
              </a>{% endif %}
              <div class="form-control text-center">{{ item.quantity }}</div>
              
              {% if not old %}
              <a href="{% url 'add_to_cart' painting_id %}">
                <button
                  class="btn btn-outline-secondary btn-increment"
                  type="button"
                >
                  +
                </button>
              </a>{% endif %}
            </div>
          </td>

          <td class="total-price">${{ item.total}}</td>

          {% if not old %}
          <td>
            <a
              href="{% url 'remove_from_cart' item.painting.id  %}"
              class="btn btn-primary"
              >Remove</a
            >
          </td>
          {% endif %}
        </tr>
        {% empty %}
        <tr>
          <td colspan="5" class="text-center">Your order is empty.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="card mt-4">
    <div class="card-body">
      <h5 class="card-title text-center">Total du Panier</h5>
      <ul class="list-group list-group-flush">
        <li
          class="list-group-item d-flex justify-content-between align-items-center"
        >
          Subtotal:
          <span id="subtotal">{{order.subtotal}}</span>
        </li>
        <li
          class="list-group-item d-flex justify-content-between align-items-center"
        >
          {% if order.shipping_address %} Shipping:

          <span
            >${{order.shipping_address}}
            <small
              ><button
                type="button"
                class="btn btn-secondary"
                data-toggle="tooltip"
                data-html="true"
                title="{{order.shipping_address.addess}}"
              >
                See Adress detail
              </button>
            </small></span
          >
          {% else %}
          <span>No adress attach to this order or default address</span>
          {% endif %}
        </li>
        <li
          class="list-group-item d-flex justify-content-between align-items-center"
        >
          Total:
          <span id="total">{{order.total}}</span>
        </li>

        {% if old %}
        <li
          class="list-group-item d-flex justify-content-between align-items-center"
        >
          Status:
          <span id="total">{{order.status}}</span>
        </li>

        {% endif %}
      </ul>
      <div class="text-center mt-4">
        <!-- <a href="#" class="custom-button">Procéder au paiement</a> -->

        <!-- Button trigger modal -->
        {% if not old %} {% if order.shipping_address%}

        <a href="{% url  'checkout'  %}" class="custom-button"
          >Proceed to checkout</a
        >

        {% else %}
        <button
          type="button"
          class="custom-button"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          Inquiry for address Shipping fee
        </button>
        {% endif %} 
        {% else %}

        <a href="{% url 'account' %}" class="custom-button">Return to account</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<br /><br /><br />
<!-- <script type="text/javascript" >

$('#btn').on('click', function () {
  $('#exampleModal').modal('show')
})

</script> -->

<!-- end content-section -->
{% endblock %}
