{% extends 'base.html' %} {% load static %} {% block body %} 
        
   
<br><br>

<div class="container mt-5">{% include "components/messages.html" with messages=messages %} 
  <h3 class="text-center mb-4">Checkout</h3>

  <div class="row">
    <!-- Billing Details -->
    <div class="col-lg-6">
      <h4>Selected Billing Addresses</h4>

      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">
            {% if x.default %} Primary Address {% else %} Secondary address {% endif %}
          </h5>
          <p class="card-text">{{ x.address | slice: ":20" }}</p>
          <p class="card-text">
            {{ address.country }}, {{ address.state }}, {{ address.zip_code }}
          </p>
          <p class="card-text"><strong>Status:</strong> {{x.status}}</p>
          {% if x.shipping_price %}

          <p class="card-text"><strong>Fee:</strong> $5.00</p>

          {% endif %}

          {% if not address.default %}
          <a
            href="{% url 'set_default_address' address.id %}"
            class="btn btn-info"
            >Define as Default</a
          >
          {% endif %}
          <a href="{% url 'delete_address' address.id %}" class="btn btn-danger"
            >Delete</a
          >
        </div>

        <h6>Other addresses</h6>

        <form method="post" action="{% url 'assign_address' %}">
          {% csrf_token %}
          <div class="card mb-3">
            <div class="card-header">
              Choose a Different Address
            </div>
            <div class="card-body">
              <select class="form-select" name="address">
                {% for address in addresses %}
                  <option value="{{ address.id }}" {% if order.address and order.address.id == address.id %}selected{% endif %}>
                    {{ address | slice: ":20"}} - ${{ address.shipping_price }}
                  </option>
                {% endfor %}
              </select>
              <p><a href="{% url 'account' %}#address">Add a new address</a></p>
            </div>
          </div>
        
          <button type="submit" class="btn btn-primary">Assign new address</button>
        </form>
      </div>
    </div>

    <!-- Order Summary -->
    <div class="col-lg-6">
      <h4>Your Order</h4>
      <ul class="list-group mb-3">

        {% for item in order.orderitem_set.all %}
        <li
          class="list-group-item d-flex justify-content-between align-items-center"
        >
          <div>
            <h6 class="my-0">{{ item.painting.title }}</h6>
            <!-- <small class="text-muted">Brief description</small> -->
          </div>
          <span class="text-muted">${{ item.painting.price }}</span>
        </li>

        {% endfor %}

        <li
        class="list-group-item d-flex justify-content-between align-items-right"
      >
        <span>Subotal (USD)</span>
        <strong>${{ order.subtotal }}</strong>
      </li>
        <li
        class="list-group-item d-flex justify-content-between align-items-right"
      >
        <span>Discount (USD)</span>
        <strong>${{ order.discount }}</strong>
      </li>
      
      <li
      class="list-group-item d-flex justify-content-between align-items-right"
    >
      <span>Shipping Fee (USD)</span>
      <strong>${{order.shipping_address.shipping_price}}</strong>
    </li>
        <li
          class="list-group-item d-flex justify-content-between align-items-right"
        >
          <span>Total (USD)</span>
          <strong>${{order.total}}</strong>
        </li>
      </ul>

      <form class="card p-2" action="{% url 'redeem_promo_code' %}" method="post">
        {% csrf_token %}
        <div class="input-group">
          <input type="text" name="promo_code" class="form-control" placeholder="Promo code" />
          <button type="submit" class="btn btn-secondary">Redeem</button>
        </div>
      </form>

      <hr class="my-4" />

      <h4>Payment</h4>
      <div class="my-3">
        <a href="{% url 'checkout' %}" class="custom-button">
          Proceed to payment
        </a>
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}
