{% extends 'base.html' %}
{% load static %}

{% block modal %}
<!-- Modal -->
{% include 'components/request_modal.html' %}



{% endblock %}

{% block body %}

<header class="slider">
  <div class="swiper-container slider-images">
    <div class="swiper-wrapper">
      <div class="swiper-slide gradient"
        data-background="{% static 'images/birmingham-museums-trust-aIs9zmgTEl4-unsplash.jpg' %}"
        >
        <div class="mobile-slide gradient"
          data-background="{% static 'images/birmingham-museums-trust-zWE5pOLWkio-unsplash.jpg' %}"
          ></div>
      </div>
      <div class="swiper-slide gradient"
        data-background="{{setting.home_painting_hero_1.image.url}}"
        >
        <div class="mobile-slide gradient"
          data-background="{{setting.home_painting_hero_1.image.url}}"
          ></div>
      </div>
      <div class="swiper-slide gradient"
        data-background="{{setting.home_painting_hero_1.image.url}}"
        >
        <div class="mobile-slide gradient"
          data-background="{{setting.home_painting_hero_1.image.url}}"
          ></div>
      </div>
    </div>
    <!-- end swiper-wrapper -->
    <div class="container-fluid slider-nav">
      <div class="swiper-pagination"></div>
      <!-- end swiper-pagination -->
      <div class="swiper-fraction"></div>
      <!-- end swiper-fraction -->
      <div class="button-prev"><i class="far fa-chevron-down"></i></div>
      <!-- end swiper-button-prev -->
      <div class="button-next"><i class="far fa-chevron-up"></i></div>
      <!-- end swiper-button-next -->
    </div>
    <!-- end slider-nav -->
  </div>
  <!-- end slider-images -->
  <div class="swiper-container slider-texts">
    <svg width="580" height="400" class="svg-morph">
      <path id="svg_morph"
        d="m261,30.4375c0,0 114,6 151,75c37,69 37,174 6,206.5625c-31,32.5625 -138,11.4375 -196,-19.5625c-58,-31 -86,-62 -90,-134.4375c12,-136.5625 92,-126.5625 129,-127.5625z" />
    </svg>
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="container-fluid">
          <h1>
            {{setting.home_painting_hero_1.title}}
          </h1>
          <p style="font-weight:bolder; font-size: x-large;">
            {{setting.home_painting_hero_1.description | slice:":20"}} <br />
            Available anywhere in the us.
            <br><a href="{% url 'painting' setting.home_painting_hero_1.slug %}" style="">Shop now</a>
          </p>


        </div>
        <!-- end container -->
      </div>
      <!-- end swiper-slide -->
      <div class="swiper-slide">
        <div class="container-fluid">
          <h1>
            {{setting.home_painting_hero_2.title}}
          </h1>
          <p style="font-weight:bolder; font-size: x-large;">
            {{setting.home_painting_hero_2.description | slice:":20"}} <br />
            Available anywhere in the us.
            <br><a href="{% url 'painting' setting.home_painting_hero_2.slug %}" style="">Shop now</a>
          </p>
        </div>
        <!-- end container -->
      </div>
      <!-- end swiper-slide -->
      <div class="swiper-slide">
        <div class="container-fluid">
          <h1>
            {{setting.home_painting_hero_3.title}}
          </h1>
          <p style="font-weight:bolder; font-size: x-large;">
            {{setting.home_painting_hero_3.description | slice:":20"}} <br />
            Available anywhere in the us.
            <br><a href="{% url 'painting' setting.home_painting_hero_3.slug %}" style="">Shop now</a>
          </p>
        </div>
        <!-- end container -->
      </div>
      <!-- end swiper-slide -->
    </div>
    <!-- end swiper-wrapper -->
  </div>
  <!-- end slider-texts -->
  <div class="play-now">
    <a href="{% url 'painting_list' %}" data-fancybox data-width="640" data-height="360" class="play-btn"></a>
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      width="300px" height="300px" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
      <defs>
        <path id="circlePath" d="M 150, 150 m -60, 0 a 60,60 0 0,1 120,0 a 60,60 0 0,1 -120,0 " />
      </defs>
      <circle cx="150" cy="100" r="75" fill="none" />
      <g>
        <use xlink:href="#circlePath" fill="none" />
        <text>
          <textPath xlink:href="#circlePath">
            Shop now- shop now- shop now- shop now- shop now-
          </textPath>
        </text>
      </g>
    </svg>
  </div>
  <!-- end play-now -->
</header>

<!-- end slider -->
<section class="content-section" data-background="#fffbf7">
  <div class="container">
    {% include "components/messages.html" with messages=messages %}
    <div class="row align-items-center">
      <div class="col-12">
        <div class="section-title text-center">
          <figure>
            <img src="{% static 'images/title-shape.png' %}" alt="Image" />
          </figure>
          <h2>
            Haitian's leading <br />
            Galerie of art
          </h2>
        </div>
        <!-- end section-title -->
      </div>
      <!-- end col-12 -->
      <div class="col-lg-7">
        <figure class="image-box" data-scroll data-scroll-speed="-1">
          <img src="{{ setting.home_image_section_1.url }}" alt="Image"  style="height: 600px; object-fit: cover;"/>
        </figure>
      </div>
      <!-- end col-7 -->
      <div class="col-lg-5">
        <div class="side-icon-list right-side">
          <ul>
            <li>
              <figure>
                <img src="{% static 'images/icon01.png' %}" alt="Image" />
              </figure>
              <div class="content">
                <h5>Delivery</h5>
                <p>
                  All across the US<br />
                  Inquiry for delivery.
                </p>
              </div>
              <!-- end content -->
            </li>
            <li>
              <figure>
                <img src="{% static 'images/icon02.png' %}"" alt=" Image" />
              </figure>
              <div class="content">
                <h5>Order Haitian Art</h5>
                <p>
                  We have the most talented artist from all accross Haiti <br />

                </p>
                <a href="{% url 'artist_list' %}">See artists</a>
              </div>
              <!-- end content -->
            </li>
            <li>
              <figure>
                <img src="{% static 'images/icon03.png' %}" alt="Image" />
              </figure>
              <div class="content">
                <h5>Where You Visit</h5>
                <p>
                  {{setting.address}}
                </p>
              </div>
              <!-- end content -->
            </li>
          </ul>
        </div>
        <!-- end side-icon-list -->
      </div>
      <!-- end col-5 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- end content-section -->


<section class="content-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <div class="section-title">
          <figure>
            <img src="{% static 'images/title-shape.png' %}" alt="Image" />
          </figure>
          <h6>DON’T MISS THE OPPORTUNITY</h6>
          <h2>Our painting</h2>
        </div>
        <!-- end section-title -->
      </div>
      <!-- end col-9 -->
      <div class="col-lg-3">
        <a href="{% url 'artist_list' %}" class="circle-button">View our <br />
          Artists</a>
      </div>
      <!-- end col-3 -->
    </div>
    <!-- end row -->
    <div class="row justify-content-center">

      {% include 'components/product_card.html' with slug=setting.home_painting_list_1.slug image=setting.home_painting_list_1.image.url product_title=setting.home_painting_list_1.title id=setting.home_painting_list_1.id description=setting.home_painting_list_1.description %}

      {% include 'components/product_card.html' with slug=setting.home_painting_list_2.slug image=setting.home_painting_list_2.image.url product_title=setting.home_painting_list_2.title id=setting.home_painting_list_2.id description=setting.home_painting_list_2.description %}

      {% include 'components/product_card.html' with slug=setting.home_painting_list_3.slug image=setting.home_painting_list_3.image.url product_title=setting.home_painting_list_3.title id=setting.home_painting_list_3.id description=setting.home_painting_list_3.description %}
    </div>
    <br><br>
    <div class="justify-content-center d-flex align-items-center">
      <div href="{% url 'painting_list' %}" class="custom-button align-self-center">See all painting</div>
    </div>

    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- end content-section -->


<!-- end content-section -->


<section class="content-section no-bottom-spacing">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="section-title text-center">
          <figure>
            <img src="{% static 'images/title-shape.png' %}" alt="Image" />
          </figure>
          <h6>Magic our artist</h6>
          <h2>Our artists</h2>
        </div>
        <!-- end section-title -->
      </div>
      <!-- end col-12 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
  <div class="container-fluid px-0">
    <!-- templates/main_template.html -->
    <div class="row g-0">
      {% include 'components/artist_card.html' with scroll_speed='-1' image_src=setting.home_artist_1.profile.url number='01' title=setting.home_artist_1.name description=setting.home_artist_1.bio link_url=setting.home_artist_1.id %}
      {% include 'components/artist_card.html' with scroll_speed='-1' image_src=setting.home_artist_2.profile.url number='02' title=setting.home_artist_2.name description=setting.home_artist_2.bio link_url=setting.home_artist_2.id %}
      {% include 'components/artist_card.html' with scroll_speed='-1' image_src=setting.home_artist_3.profile.url number='03' title=setting.home_artist_3.name description=setting.home_artist_3.bio link_url=setting.home_artist_3.id %}


    </div>

    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- end content-section -->

{% include 'components/testimonies.html' with testimonies=testimonies %}

{% include 'components/core_value.html' with setting=setting %}


<section class="content-section">
  <div class="container">
    <div class="row g-0 align-items-center">
      <div class="col-lg-6">
        <div class="art-slider">
          <div class="titles">
            <h6>Haitian art</h6>
            <h2>
              Where we Started <br />
              Haiti
            </h2>
          </div>
          <!-- end titles -->
          <div class="swiper-container art-slider-content">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <span>01</span>
                <h3>
                  {{setting.home_story_1_title}}
                </h3>
              </div>
              <!-- end swiper-slide -->
              <div class="swiper-slide">
                <span>02</span>
                <h3>
                  {{setting.home_story_2_title}}
                </h3>
              </div>
              <!-- end swiper-slide -->
              <div class="swiper-slide">
                <span>03</span>
                <h3>
                  {{setting.home_story_3_title}}
                </h3>
              </div>
              <!-- end swiper-slide -->
              <div class="swiper-slide">
                <span>04</span>
                <h3>
                  {{setting.home_story_4_title}}
                </h3>
              </div>
              <!-- end swiper-slide -->
              <div class="swiper-slide">
                <span>05</span>
                <h3>
                  {{setting.home_story_5_title}}
                </h3>
              </div>
              <!-- end swiper-slide -->
            </div>
            <!-- end swiper-wrapper -->
          </div>
          <!-- end art-slider-content -->
        </div>
        <!-- end art-slider -->
      </div>
      <!-- end col-6 -->
      <div class="col-lg-6">
        <div class="art-slider" data-scroll data-scroll-speed="1">
          <div class="swiper-container art-slider-images">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="{{ setting.home_story_1_image.url }}" alt="Image" />
              </div>
              <!-- end swiper-slide -->
              <div class="swiper-slide">
                <img src="{{ setting.home_story_2_image.url }}" alt="Image" />
              </div>
              <!-- end swiper-slide --
                      <div class="swiper-slide">
                        <img
                          src="{% static 'images/birmingham-museums-trust-sJr8LDyEf7k-unsplash.jpg' %}"
                          alt="Image"
                        />
                      </div>
                       end swiper-slide -->
              <div class="swiper-slide">
                <img src="{{ setting.home_story_3_image.url }}" alt="Image" style="height: 400px;object-fit: cover;" />
              </div>
              <!-- end swiper-slide -->
              <div class="swiper-slide">
                <img src="{{ setting.home_story_4_image.url }}" alt="Image" style="height: 400px;object-fit: cover;" />
              </div>
              <!-- end swiper-slide -->
              <div class="swiper-slide">
                <img src="{{ setting.home_story_5_image.url }}" alt="Image" style="height: 400px;object-fit: cover;"/>
              </div>
              <!-- end swiper-slide -->
            </div>
            <!-- end swiper-wrapper -->
          </div>
          <!-- end art-slider-images -->
        </div>
        <!-- end art-slider -->
      </div>
      <!-- end col-6 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- end content-section -->



{% include 'components/request.html' with url=setting.become_seller_video.url %}
<!-- end content-section -->







{% endblock %}