{% extends 'base.html' %}
{% load static %}

{% block body %}


    {% include 'components/header.html' with background_image=setting.home_painting_hero_1.painting.medium.url title=setting.home_painting_hero_1.title description=setting.home_painting_hero_1.description  %}

    <!-- end page-header -->
    <section class="content-section">
      <div class="container"
      >{% include "components/messages.html" with messages=messages %} 
        {% if query %}

        <h2>Result for: <strong>{{query}}</strong></h2>

        {% endif %}
        <div class="row">
          <div class="col-lg-8">
            <div class="row justify-content-center">

              {% for painting in page_obj %} 
              {% include 'components/product_card.html' with x=painting %}

              {% empty %}

              <h2>No painting yet !</h2>
              <br><br>

              {% endfor %}
            </div>
            <!-- end blog-post -->
           {% include 'components/pagination.html' with page_obj=page_obj %}
          
            <!-- end pagination -->
          </div>
          <!-- end col-8 -->
          <div class="col-lg-4">
            <aside class="sidebar">
              <div class="widget">
                <h6 class="widget-title">SEARCH</h6>
                <form method="get" action="{% url 'painting_list' %}">
                  <input type="search" name="q" placeholder="Type here to search" >
                  <input type="submit" value="Search">
              </form>
              </div>
              <!-- end widget -->
              <div class="widget">
                <h6 class="widget-title">CATEGORIES</h6>
                <ul class="categories">
                    {% for category in categories %}
                        <li><a href="{% url 'painting_list' %}?q={{ category.name }}">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            
              <!-- end widget -->

              <div class="widget">
                <h6 class="widget-title">GALLERY</h6>
                <ul class="widget-gallery">
                  <li><a href="images/carousel-image01.jpg" data-fancybox><img src="images/carousel-image01.jpg" alt="Image"></a></li>
                  <li><a href="images/carousel-image02.jpg" data-fancybox><img src="images/carousel-image02.jpg" alt="Image"></a></li>
                  <li><a href="images/carousel-image05.jpg" data-fancybox><img src="images/carousel-image05.jpg" alt="Image"></a></li>
                  <li><a href="images/carousel-image04.jpg" data-fancybox><img src="images/carousel-image04.jpg" alt="Image"></a></li>
                </ul>
              </div>
              <!-- end widget -->
            </aside>
            <!-- end sidebar -->
          </div>
          <!-- end col-4 -->
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </section>
    <!-- end content-section -->

{% endblock %}