{% if messages %}
        <div class="container mt-3 d-flex align-items-center" >
            {% for message in messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                  {% if message.tags %}<strong>{{ message.tags|upper }} : </strong>{% else %}Info{% endif %}{{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}

            </div>
    {% endif %}