{% load static %}

<!-- product_card.html -->
<div class="col-lg-4 col-md-6">
    <div class="exhibition-box" data-scroll data-scroll-speed="1">
        <figure>
            <a href="{% url 'painting' slug %}">
                <img src="{{ image  }}" alt="Image" height="300"
                style="   width: 100%;
                height: 300 px;
                object-fit: cover;"
                loading="lazy">
            </a>
            <div class="info">
                <figure class="i">
                    <img src="{% static 'images/icon-info.png' %}" alt="Image">
                </figure>
                <span><a href="{% url 'add_to_cart' id %}">add to cart</a></span>
            </div>
            <!-- end info -->
        </figure>
        <div class="content-box">
            <h4><a href="{% url 'painting' slug %}">{{ title }}</a></h4>
            <p>{{ description | slice:":80" }} ....<br><br></p>
            
            <p><a class="custom-link" href="{% url 'add_to_wishlist' id %}">Add to wishlist</a></span>
            </p>
            
        </div>
        <!-- end content-box -->
    </div>
    <!-- end exhibition-box -->
</div>
<!-- end col-4 -->
