<div class="modal fade" id="requestSellerModal" tabindex="-1" aria-labelledby="requestSellerModalLabel" aria-hidden="true">

    
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="requestSellerModalLabel">Request to Become a Seller</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="requestSellerForm" method="POST" action="{% url 'seller_request' %}">
            {% csrf_token %}
            <div class="mb-3">
              <label for="fullName" class="form-label">Full Name</label>
              <input type="text" class="form-control" id="fullName" placeholder="John Doe" required>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email Address</label>
              <input type="email" class="form-control" id="email" placeholder="email@example.com" required>
            </div>
            <div class="mb-3">
              <label for="phone" class="form-label">Phone Number</label>
              <input type="text" class="form-control" id="phone" placeholder="+1234567890" required>
            </div>
            <div class="mb-3">
              <label for="businessName" class="form-label">Business Name</label>
              <input type="text" class="form-control" id="businessName" placeholder="Your Business Name or type freelance" required>
            </div>
  
            <div class="mb-3">
              <label for="Country" class="form-label">Country</label>
              <input type="text" class="form-control" id="Country" placeholder="Your Business Name or type freelance" required>
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">Business Description(Optional)</label>
              <textarea class="form-control" id="description" rows="3" placeholder="Tell us about your business" required></textarea>
            </div>
            <div class="mb-3">
              <label for="Message" class="form-label">Leave here a custom Message for us.</label>
              <textarea class="form-control" id="Message" rows="3" placeholder="Leave a message here" required></textarea>
            </div>
            <div class="mb-3">
              <label for="website" class="form-label">Website (optional)</label>
              <input type="url" class="form-control" id="website" placeholder="http://yourbusinesswebsite.com">
            </div>
            <button type="submit" class="custom-button">Submit Request</button>
          </form>
        </div>
      </div>
    </div>
  </div>