<section class="content-section">
    <div class="video-bg">
      <video
        src="{% static 'videos/video.mp4'}"
        loop
        autoplay
        playsinline
        muted
      ></video>
    </div>
    <!-- end video-bg -->
    <div class="container">
      <div class="cta-box" data-scroll data-scroll-speed="-1">
        <h6>Connect with us if you want to be an artist</h6>
        <h2>
          Become a member <br />
          Sell your art
        </h2>
        <button type="button" class="custom-button" data-bs-toggle="modal" data-bs-target="#requestSellerModal">
          Request to Become a Seller
        </button>
      </div>
      <!-- end cta-box -->
    </div>
    <!-- end container -->
  </section>